$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #1E5FAE;
$color__background-button-hover: darken(#1E5FAE, 20%);
$color__background-pre: #eee;
$color__background-ins: rgba(0,0,0,0);
$color__background-top-bar: #1E5FAE;
$color__background-site-header: rgba(255, 255, 255, 0.8);
$color__background-site-header-sticky: #000;
$color__background-site-header-sub-menu: rgb(255, 255, 255);
$color__background-site-header-underline: #d3d3d3;
$color__background-site-header-search: rgba(255, 255, 255, 1);
$color__background-search-li-items: #fff;
$color__background-site-footer: #000;
$color__background-shop-filter: #000;
$color__background-cart-collaterals: #000;
$color__background-blog-widget: #f9f9f9;
$color__background-blog-widget-border: #d9d9d9;
$color__background-product-page-description: #f2f2f2;

$color__background-contact-us-background: #1E5FAE;

$color__text-cart-collaterals: #fff;
$color__text-woo-breadcrumb: #8e8e8e;
$color__text-woo-single-title: #4d4d4d;
$color__text-woo-single-price: #b3b3b3;
$color__icon-woo-product-rating: #f8e86f;
$color__checkbox-woo-filter: #000;
$color__checkbox-woo-filter-prescription: #fff;
$color__text-woo-active-filters: #adadaa;
$color__text-shop-filter: #fff;
$color__text-shop-filter-hover: darken(#fff, 20%);
$color__text-site-footer: #fff;
$color__text-site-header: #fff;
$color__text-search-placeholder: #272627;
$color__text-mobile-search-placeholder: #e6ebef;
$color__text-mobile-search: #acacac;
$color__text-search: #495059;
$color__text-button: #fff;
$color__text-top-bar: #fff;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link-main-nav: #fff;
$color__link-main-nav-hover: darken(#fff, 20%);
$color__link-main-nav-underline: #1E5FAE;
$color__link: #1E5FAE;
$color__link-visited: #1E5FAE;
$color__link-hover: darken(#1E5FAE, 20%);
$color__text-main: #404040;

// $color__transparent: rgba(0, 0, 0, 0);
