$size__site-main: 90%;
$size__site-main-desktop: 80%;
$size__site-main-max: 1200px;
$size__site-sidebar: 25%;

$size__tablet-breakpoint: 768px;
$size__desktop-breakpoint: 1025px;

$size__mobile-hamburger-layer-width: 25px;
$size__mobile-hamburger-layer-height: 2px;
$size__mobile-hamburger-layer-spacing: 4px;
$border-radius__mobile-hamburger-layer: 4px;
