body.blog, body.single-post {
	.hfeed {
		.storefront-breadcrumb {
			display: none;
		}

		.site-content {
			.col-full {
				max-width: 100%;
				padding: 0;
				margin: 0;

				.content-area {
					.dollarclub-cat-header {
						.dollarclub-header-outer-wrapper {
							margin-top: 40px;
						}
					}
					.site-main {
						margin: auto;
						width: $size__site-main;
						display: flex;
						flex-direction: column;

						.article-wrapper {
							margin-bottom: 25px;
							display: flex;
							justify-content: center;
							flex-direction: column;
							margin-top: 20vw;

							article {
								width: 100%;
								max-width: 700px;

								.post {
									width: 100%;
									max-width: 700px;

									.entry-header {
										.entry-title {
											font-size: 2.5rem;

											a {
												color: $color__link;
											}
										}
									}

									p {
										font-size: 1.20rem;
										line-height: 1.75;
									}
								}
							}

							#blog-widget {
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;

								.blog-widget-area-1, .blog-widget-area-2, .blog-widget-area-3, .blog-widget-area-4, .blog-widget-featured-products {
									align-self: stretch;
									display: flex;
									flex-direction: column;
									justify-content: center;
									align-items: center;
									max-width: 700px;
									flex-grow: 1;
									margin: 15px;
									padding: 10px;
									background-color: $color__background-blog-widget;
									border: solid $color__background-blog-widget-border 1px;

									.widget {
										margin: 0;

										.textwidget {

											h1,h2,h3,h4,h5 {
												text-align: center;
												font-size: 1.75rem;
											}

											p {
												text-align: left;
												padding-left: 20px;
											}

											.gform_wrapper {

												.gform_body {
													max-width: 100%;

													.gform_fields {

														.gfield {
															margin-top: 0;

															.ginput_container {
																margin-top: 0;

																input {
																	margin-top: 0;
																	margin-bottom: 10px;
																	width: 100%;
																}
															}
														}
													}
												}

												.gform_footer {
													margin-top: 0;
													padding-top: 0;
													text-align: center;
												}
											}
										}

										.wp-caption {

											img {
												max-width: 90% !important;
											}
										}
									}
								}

								.blog-widget-area-1, .blog-widget-area-2, .blog-widget-area-3, .blog-widget-area-4 {

									.widget {

										.widget-title {
											display: none;
										}

										ul {
											list-style: none;
											margin-left: 0;
											padding-left: 20px;
											line-height: 2;

											.cat-parent {

												ul {
													margin-left: 0;

													.cat-parent {

														ul {
															margin-left: 0;
														}
													}
												}
											}
										}
									}
								}

								.blog-widget-featured-products {

									.widget_products {

										.product_list_widget {
											list-style: none;
											margin: auto;

											li {
												display: flex;
												flex-direction: column;
												justify-content: center;
												align-items: center;

												a {
													display: flex;
													justify-content: center;
													align-items: center;
													flex-direction: column-reverse;

													.product-title {
														font-size: 1.5rem;
														font-weight: 400;
														padding-bottom: 10px;
													}

													img {
														max-width: 90%;
													}
												}

												.amount {
													margin-bottom: 25px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

a {
	color: $color__link;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;

	ul {
		margin-left: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title {
	text-align: center;
}

.navigation {

	&.post-navigation {
		display: none;
	}
}

@media only screen and (min-width: $size__tablet-breakpoint) {

	body.blog, body.single-post {
		.hfeed {
			.site-content {
				.col-full {
					.content-area {
						.site-main {
							.article-wrapper {
								margin-top: 10vw;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: $size__desktop-breakpoint) {

	body.blog, body.single-post {
		.hfeed {
			.site-content {
				.col-full {
					.content-area {
						.site-main {
							width: $size__site-main-desktop;
							max-width: $size__site-main-max;
							.article-wrapper {
								flex-direction: row-reverse;
								margin-top: 7vw;

								article {
									width: 100%;
									margin: 25px;
									width: 59%;

									article {
										margin: 25px;
										width: 59%;
									}
								}

								#blog-widget {
									width: 33%;
									align-self: flex-start;
								}
							}
						}
					}
				}
			}
		}
	}
}
